*
{
  font-size: 30px; 
  font-family:Arial, sans-serif;
}
.meat
{
  background-color: wheat;
}
.egg
{
  background-color: azure;
}
div
{
  text-align: center;
}
div h1
{
  font-size: 60px;
}
body div h3, div p
{
  font-family: 'Times New Roman', Times, serif;
  color: brown;
}
body h3
{
  color: pink;
}